# Protecció carpeta data
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^data/ - [F,L]
</IfModule>

# Opcions de seguretat
Options -Indexes
ServerSignature Off

# Capçaleres de seguretat
<IfModule mod_headers.c>
  Header always set X-Content-Type-Options nosniff
  Header always set X-Frame-Options SAMEORIGIN
  Header always set X-XSS-Protection "1; mode=block"
</IfModule>
